*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 900px;
}

.flex{
    display: flex;
}

button{
    border: none;
    padding: 6px;
}

button a{
    text-decoration: none;
}

.white-button a{
    color: grey;
}

.white-button{
    border: 1px solid rgb(79, 79, 79);
    background-color: white;
}

.description-under-title{
    font-size: 0.7rem;
    color: rgb(79, 79, 79);
}

/* PARTE HEADER */

/* UPPER HEADER */

.upper-menu{
    height: 60px;
    width: 100vw;
    justify-content: space-between;
}

.upper-menu section{
    align-items: center;
    margin: 0 10px;
}

.upper-menu section img{
    height: 20px;
    margin-right: 20px;
}

.upper-menu section a{
    color: rgb(102, 102, 102);
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.8rem;
}

.blue-button a{
    color: white;
}

.blue-button{
    background-color: rgb(1,96,255);
    padding: 6px;
}

/* LOWER HEADER */

#upper-description-container{
    width: 100%;
    background-color: rgb(180,208,231);
}

#upper-description{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#upper-description h1{
    width: 80%;
    font-size: 4rem;
    padding-top: 20px;
}

#upper-description div{
    padding-top: 20px;
}

#upper-description div article{
    width: 30%;
}

#upper-description div article p{
    margin: 20px 0;
}

#arrow{
    font-size: 3rem;
}

div img{
    height: 350px;
}

/* PARTE MAIN */

/* CHOSE YOUR PLAN */

#selection-plan-container{
    width: 60%;
    margin: 0 auto;
}

main section h2{
    margin-top: 70px;
}

#which-plan{
    width: 100%;
    padding: 30px 0;
    font-size: 0.8rem;
}

input{
    margin-right: 10px;
}

#which-plan div{
    margin-right: 25px;
    display: inline-block;
}

#plans-container{
    width: 100%;
}

.plan{
    height: 780px;
    width: calc(100% / 3);
    border: 1px solid lightgray;
}

.team{
    margin: 0 20px;
}

.plan p:first-child, #salesoffice-contact>p{
    text-align: center;
    padding: 5px 0;
    font-size: 0.7rem;
}

.price{
    font-weight: bold;
}

.period{
    color: gray;
}

.plan-info{
    height: 240px;
}

hr{
    height: 1px;
    background-color: lightgray;
    border: none;
}

.plan div{
    padding: 0px 20px;
}

.plan div h3{
    padding: 20px 10px 0 0;
}

.plan div p{
    margin-top: 10px;
    font-size: 0.7rem;
}

.plan div p:nth-child(4){
    margin-top: 30px;
}

.plan div hr{
    margin: 30px 80% 30px 0;
}

.plan div h5{
    margin-bottom: 25px;
}

.plan div .blue-button{
    margin: 60px 0 20px 0;
    width: 100%;
}

.plan div button a{
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
}

.check{
    color: rgb(5,98,255);
}

/* SALES OFFICE CONTACT */

#salesoffice-contact{
    border: 1px solid lightgray;
    width: 60%;
    margin: 40px auto;
}

#salesoffice-contact div{
    padding: 8px;
    justify-content: space-between;
}

#salesoffice-contact div span, #salesoffice-contact div p{
    font-size: 0.7rem;
}

#salesoffice-contact div p{
    margin-top: 30px;
}


/* GET IN TOUCH WITH A DROPBOX CONTACT */

#contact-partner{
    height: 400px;
    width: 60%;
    margin: 100px auto;
}

#contact-partner div{
    padding: 30px;
}

#contact-partner .description-under-title{
    margin: 20px 0;
}

/* DROPBOX BUSINESS OPERATION */

#dropbox-business-container{
    width: 60%;
    margin: 20px auto;
}

#dropbox-business-container h2{
    margin-bottom: 30px;
}

.dropbox-business-card{
    width: calc(100% / 3);
    height: 450px;
    padding: 15px;
}

.dropbox-business-card .photo{
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-switching-tools{
    background-image: url(../img/business-feature-switching-tools.png);
}

.photo-send-files{
    background-image: url(../img/business-feature-send-files-it.png);
}

.photo-coordinate{
    background-image: url(../img/business-feature-coordinate-it.png);
}

.photo-integrations{
    background-image: url(../img/business-feature-integrations-it.png);
}

.photo-multi-device{
    background-image: url(../img/business-feature-multi-device.png);
}

.photo-security{
    background-image: url(../img/business-feature-security.png);
}

.dropbox-business-card h3{
    margin: 30px 0;
}

.card-container{
    flex-wrap: wrap;
}

/* USERS NUMBERS */

#users-numbers{
    width: 60%;
    height: 200px;
    margin: 20px auto;
}

#users-numbers h2{
    width: 60%;
    margin-bottom: 50px;
}

/* SQUARES */

#squares{
   width: 100vw;
   height: 80vh;
   background-color: black;
}

.squares-container{
    width: calc(100vw / 3);
    height: 100%;
    background-color: aqua;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: yellow;
    border: 1px solid black;
}

/* BRING DROPBOX IN YOUR COMPANY */

#dropbox-company{
    background-color: rgb(179,208,231);
    width: 100%;
    height: 200px;
}

#dropbox-company div{
    width: 60%;
    height: 60%;
    background-color: violet;
    margin: auto;
}

/* FAQ */

#faq{
    height: 300px;
    width: 60%;
}

/* FOOTER */

footer{
    background-color: black;
    width: 100%;
    height: 400px;
}

footer ul{
    width: calc(100% / 5);
    height: 200px;
    border: 1px solid white;
    margin: auto;
}
