*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* PARTE HEADER */

.upper-menu{
    height: 60px;
    width: 100vw;
    background-color: blue;
    justify-content: space-between;
}

.upper-menu section{
    background-color: black;
    height: 100%;
    width: 30vw;
}

.upper-menu section div{
    background-color: white;
    height: 100%;
    width: calc(100% / 4);
    border: 1px solid black;
}

#upper-description-container{
    width: 100%;
    height: 450px;
    background-color: rgb(180,208,231);
}

#upper-description{
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}

#upper-description h1{
    background-color: green ;
    width: 100%;
    height: 40%;
}

#upper-description div{
    height: 60%;
    width: 30%;
    background-color: blueviolet;
    display: inline-block;
}

#upper-description div:last-child{
    height: 60%;
    width: 60%;
    background-color: orange;   
}

/* PARTE MAIN */

/* CHOSE YOUR PLAN */

#selection-plan-container{
    background-color: green;
    width: 60%;
    margin: 0 auto;
}

main section h2{
    background-color: blue;
}

#which-plan{
    background-color: pink;
    height: 20px;
    width: 100%;
}

#plans-container{
    width: 100%;
}

.plan{
    height: 400px;
    width: calc(100% / 3);
    background-color: brown;
    border: 1px solid black;
    margin: 0 20px;
}

/* SALES OFFICE CONTACT */

#salesoffice-contact{
    background-color: darkorange;
    height: 150px;
    width: 60%;
    margin: 20px auto;
}

/* PARTNER CONTACT */

#contact-partner{
    background-color: red;
    height: 200px;
    width: 60%;
    margin: 20px auto;
}

/* DROPBOX BUSINESS CONTAINER */

#dropbox-business-container{
    width: 60%;
    background-color: black;
    margin: 20px auto;
}

#dropbox-business-container h2{
    background-color: aquamarine;
}

.dropbox-business-card{
    background-color: blue;
    width: calc(100% / 3);
    height: 150px;
    border: 1px solid white;
}

.card-container{
    flex-wrap: wrap;
}

/* USERS NUMBERS */

#users-numbers{
    background-color: yellow;
    width: 60%;
    height: 200px;
    margin: 20px auto;
}

/* SQUARES */

#squares{
   width: 100%;
   height: 320px;
   background-color: black;
}

.squares-container{
    width: calc(100% / 3);
    height: 100%;
    background-color: aqua;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: yellow;
    border: 1px solid black;
}

/* BRING DROPBOX IN YOUR COMPANY */

#dropbox-company{
    background-color: rgb(179,208,231);
    width: 100%;
    height: 200px;
}

#dropbox-company div{
    width: 60%;
    height: 60%;
    background-color: violet;
    margin: auto;
}

/* FAQ */

#faq{
    height: 300px;
    width: 60%;
}

/* FOOTER */

footer{
    background-color: black;
    width: 100%;
    height: 400px;
}

footer ul{
    width: calc(100% / 5);
    height: 200px;
    border: 1px solid white;
    margin: auto;
}
