
/* GENERAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 970px;
}

.flex{
    display: flex;
}

button{
    border: none;
    padding: 6px;
}

button a{
    text-decoration: none;
}

.blue-button{
    background-color: rgb(1,96,255);
    padding: 8px;
}

.blue-button a{
    color: white;
}

.white-button a{
    color: black;
}

.white-button{
    border: 1px solid rgb(79, 79, 79);
    background-color: white;
    border: 1px solid black;
    padding: 10px 30px;
}

.description-under-title{
    font-size: 0.7rem;
    color: rgb(79, 79, 79);
}

h2{
    font-size: 2rem;
}

/* HEADER */

/* UPPER HEADER */

.upper-menu{
    height: 60px;
    width: 100vw;
    justify-content: space-between;
}

.upper-menu section{
    align-items: center;
    margin: 0 10px;
}

.upper-menu section img{
    height: 20px;
    margin-right: 20px;
}

.upper-menu section a{
    color: rgb(102, 102, 102);
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.8rem;
}

.upper-menu .blue-button a{
    color: white;
}

/* LOWER HEADER */

#upper-description-container{
    width: 100%;
    background-color: rgb(180,208,231);
}

#upper-description{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#upper-description h1{
    width: 90%;
    font-size: 4rem;
    padding-top: 50px;
}

#upper-description div article{
    width: 30%;
}

#upper-description div article p{
    width: 250px;
    margin: 50px 0 20px 0;
    font-size: 0.8rem;
}

#upper-description div article p:nth-child(3){
    margin: 15px 0 0 0;
}

#arrow{
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

#upper-description-container img{
    height: 400px;
    position: relative;
    top: 50px;
}

/* MAIN */

/* CHOSE YOUR PLAN */

#selection-plan-container{
    width: 60%;
    margin: 0 auto;
}

#selection-plan-container h2{
    margin-top: 150px;
}

#which-plan{
    width: 100%;
    padding: 30px 0;
    font-size: 0.8rem;
}

input{
    margin-right: 10px;
}

#which-plan div{
    margin-right: 25px;
    display: inline-block;
}

#plans-container{
    width: 100%;
}

.plan{
    height: 780px;
    width: calc(100% / 3);
    border: 1px solid lightgray;
}

.team{
    margin: 0 20px;
}

.plan p:first-child, #salesoffice-contact>p{
    text-align: center;
    padding: 5px 0;
    font-size: 0.7rem;
}

.price{
    font-weight: bold;
}

.period{
    color: gray;
}

.plan-info{
    height: 240px;
}

hr{
    height: 1px;
    background-color: lightgray;
    border: none;
}

.plan div{
    padding: 0px 20px;
}

.plan div h3{
    padding: 20px 10px 0 0;
}

.plan div p{
    margin-top: 10px;
    font-size: 0.7rem;
}

.plan div p:nth-child(4){
    margin-top: 30px;
}

.plan div hr{
    margin: 30px 80% 30px 0;
}

.plan div h5{
    margin-bottom: 25px;
}

.plan div .blue-button{
    margin: 60px 0 20px 0;
    width: 100%;
}

.plan div button a{
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
}

.check{
    color: rgb(5,98,255);
}

/* SALES OFFICE CONTACT */

#salesoffice-contact{
    border: 1px solid lightgray;
    width: 60%;
    margin: 50px auto;
}

#salesoffice-contact>div{
    padding: 8px;
    justify-content: space-between;
}

#salesoffice-contact div span, #salesoffice-contact div p{
    font-size: 0.7rem;
}

#salesoffice-contact div p{
    margin-top: 30px;
}

#salesoffice-contact button{
    padding: 8px 20px;
    font-size: 0.8rem;
}

/* GET IN TOUCH WITH A DROPBOX PARTNER */

#contact-partner{
    height: 400px;
    width: 60%;
    margin: 100px auto;
}

#contact-partner div{
    padding: 30px;
}

#contact-partner .description-under-title{
    margin: 20px 0;
}

/* DROPBOX BUSINESS OPERATION */

#dropbox-business-container{
    width: 60%;
    margin: 20px auto;
}

#dropbox-business-container h2{
    margin-bottom: 30px;
}

.dropbox-business-card{
    width: calc(100% / 3);
    height: 450px;
    padding: 15px 15px 0 0;
}

.dropbox-business-card .photo{
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-switching-tools{
    background-image: url(../img/business-feature-switching-tools.png);
}

.photo-send-files{
    background-image: url(../img/business-feature-send-files-it.png);
}

.photo-coordinate{
    background-image: url(../img/business-feature-coordinate-it.png);
}

.photo-integrations{
    background-image: url(../img/business-feature-integrations-it.png);
}

.photo-multi-device{
    background-image: url(../img/business-feature-multi-device.png);
}

.photo-security{
    background-image: url(../img/business-feature-security.png);
}

.dropbox-business-card h3{
    margin: 30px 0;
}

.card-container{
    flex-wrap: wrap;
}

/* USERS NUMBERS */

#users-numbers{
    width: 60%;
    height: 200px;
    margin: 80px auto;
}

#users-numbers h2{
    width: 70%;
    margin-bottom: 50px;
}

/* SQUARES */

#squares{
   width: 100%;
   height: 500px;
   background-color: black;
}

.squares-container{
    width: calc(100% / 3);
    height: 100%;
    background-color: rgb(245,245,245);
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
    align-items: center;
}

.central-container{
    padding: 40px;
}

.central-container img{
    height: 70px;
}

.central-container hr{
    width: 25%;
    margin: 30px 0;
}

.central-container p{
    margin-bottom: 30px;
}

.central-container p, .central-container span{
    font-size: 0.8rem;
}

.square img{
    height: 50px;
    filter: invert(1);
}

.square-uf img{
    height: 30px;
}

.square-hearst img{
    height: 15px;
}

.square-asu img, .square-clear-channel img{
    height: 100px;
}

.square-designit{
    background-color: rgb(162,211,155);
    border: 10px solid rgb(209,232,205);
}

.square-asu{
    background-color: rgb(97,9,43);
}

.square-uf{
    background-color: rgb(0,147,206);
}

.square-topps{
    background-color: rgb(255,27,28);
}

.square-bicycle{
    background-color: rgb(212,0,31);
}

.square-hearst{
    background-color: rgb(179,208,231);
}

.square-lonely-planet{
    background-color: rgb(14,35,129);
}

.square-clear-channel{
    background-color: rgb(255,215,47);
}


/* BRING DROPBOX IN YOUR COMPANY */

#dropbox-company{
    background-color: rgb(179,208,231);
    width: 100%;
    height: 300px;
}

#dropbox-company div{
    width: 60%;
    margin: auto;
    position: relative;
}

#dropbox-company div h2{
    color: rgb(97,9,44);
    width: 50%;
    font-size: 1.8rem;
    display: inline-block;
}

#dropbox-company div button{
    position: absolute;
    top: 0;
    right: 0;
}

#dropbox-company .white-button{
    border: none;
}

/* FAQ */

#faq{
    width: 60%;
    margin: 100px auto;
}

#faq h2{
    padding-bottom: 40px;
    font-size: 1.8rem;
}

#faq div{
    position: relative;
    line-height: 70px;
}

#faq div p{
    display: inline-block;
    font-size: 0.8rem;
}

#faq div span{
    position: absolute;
    top: 0;
    right: 40px;
}

/* FOOTER */

footer{
    background-color: black;
    width: 100%;
    padding: 30px 0;
}

footer section{
    width: 70%;
    margin: 50px auto;
    justify-content: space-between;
}

footer ul{
    list-style: none;
}

footer ul li:first-child{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

footer li{
    color: white;
    margin-bottom: 20px;
    font-size: 0.7rem;
}

footer a{
    text-decoration: none;
    color: white;
}

footer div{
    width: 70%;
    margin: auto;
}

footer hr{
    width: 10%;
    height: 1px white;
}

#language{
    margin: 30px auto;
    color: white;
    font-size: 0.7rem;
}

#language i{
    margin-right: 5px;
}